.nav{
    display: flex;
    justify-content : space-between;
    align-items : center;

}
.nav-logo{
    width: 60px;
}
.nav-items{
    display : flex;
    margin : 5px;
    padding : 5px;

}
.nav-items > li {
    padding : 10px;
}
.fot{
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Adjust the height based on your footer height */
     /* Set your desired background color */
    text-align: center;
    line-height: 60px; /* Center content vertically */
    

}